{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      {% if form.errors %}
        {{ form.errors }}
      {% endif %}
      <form class="form-signin" role="form" action="/add_person/" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Add User</h2>
        <input type="name" class="form-control" placeholder="First Name" required autofocus name="firstname">
        <input type="name" class="form-control" placeholder="Last Name" required name="lastname">
        <div class="form-control">
          <label class="radio-inline">
            <input id="radio1" type="radio" checked="checked" name="gender" value="0"> Male
          </label>
          <label class="radio-inline">
            <input id="radio2" type="radio" name="gender" value="1"> Female
          </label>
        </div>
        <input type="name" class="form-control" placeholder="Type of Relationship" required name="relationship_type">


        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
      </form>

    </div>



  </body>
</html>
