{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Genogram Homepage</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
              <form class="navbar-form navbar-right" role="form" action="/login/" method="post">
                <!--{% if form.errors %}<p>Please correct the following fields:</p>{% endif %} <!-- Amit -->
                {% csrf_token %}
                <div class="form-group">
                  <!--{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
                  <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>-->
                  <input type="text" placeholder="Email" class="form-control" id="username" name="username">
                  <p>{{ form.username }}</p>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" id="password" name="password">
                  <p>{{ form.password }}</p>
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <a class="btn btn-success" href="/register/" role="button">Register</a>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'images/fam4.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Know your Family better</h1>
              <p><b>Use the tree structure to view and study the characters of all memebers in your family.</b></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'images/fam5.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Find your Family</h1>
              <p><b>Use the website to find our family members and add them into your tree.</b></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'images/fam6.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Share your tree</h1>
              <p><b>The website allows you to share your tree with other memebers of your family in the website and produce a combined view of the whole family.</b></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-hand-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-hand-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/Face1.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Kimberly L. Curtis</h3>
          <h5><i>President and chief executive of the Wealth Legacy Institute, Denver</i></h5>
          <p>"I've discovered that using a genogram to map a client's family history helps identify financial patterns and values over generations. A genogram looks like a family tree, but it also provides detailed information on family relationships."</p>
          <p><a class="btn btn-default" href="http://online.wsj.com/news/articles/SB10001424127887324310104578511052684745468" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/face2.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Laurel Steinberg</h3>
          <h5><i>Relationship Therapist</i></h5>
          <p>"A genogram is sort of an emotional family tree.They concentrate on which relatives were overinvolved or underinvolved with which other relatives, and whether these relationships were hostile or friendly."</p>
          <p><a class="btn btn-default" href="http://davidmallenmd.blogspot.com/2011/09/borderline-personality-family-dynamics.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/face3.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Monica McGoldrick</h3>
          <h5><i>Author of <b>Genograms: Assessment and Intervention</b></i></h5>
          <p>"Genograms can bring to light a family's history of divorse, suicide, or estrangement, revealing inter-generational patterns that are more than coincidental. It can be widely used in the training of health and mental health professionals, it is an introduction to the principles of family systems theory.</p>
          <p><a class="btn btn-default" href="http://www.amazon.com/Genograms-Assessment-Intervention-Monica-McGoldrick/dp/0393702944" role="button">View details &raquo;</a></p>
        </div>
      </div>
      
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Genogram Project 2014 &middot;</p>
      </footer>

    </div><!-- /.container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
  </body>
</html>
