{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>The Genogram App - Home </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/user_home.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="../GENOGRAM/css/signin.css" rel="stylesheet"> -->


    <style>
    .genoArea
      {
        margin-top: 100px;
        width:100%;
        height:500px;
        border-bottom:solid 1px #ccc;
      }

    .axis
    {
    stroke: rgb(6,120,155);
    stroke-width:3 ;
  }

  </style>

</head>
<body>

  <div class="navbar-wrapper">

      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
              <div class="navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end navbar-->
    <div class="container">
      <div class="genoArea" id="genogramArea" width = "500" height = "500" >
          <h2>Your Family Tree</h2>
      </div>
      <div class="row home_content">
        <div class="col-md-6">
          {% if persons.count >  0 %}
          <h4>People in Your Tree</h4>
            <ul>
            {% for person in persons %}
              <li>
                {{ person.full_name }}
                ({{ person.relationship_to_account_owner }})
              </li>
            {% endfor %}
            </ul>
          {% else %}
             <h4>You have not added anyone to your graph. Start Here -> </h4>
          {% endif %}
        </div>
        <div class="col-md-6 add_person_form">
        <h4>Add a family member</h4>
          <form class="form-signin" role="form" action="/add_person/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <div class="">
              <input type="name" class="form-control" placeholder="First Name" required autofocus name="firstname">
            </div>
            <div class="">
              <input type="name" class="form-control" placeholder="Last Name" required name="lastname">
            </div>
            <div class="">
              <label class="radio-inline">
                <input id="radio1" type="radio" checked="checked" name="gender" value="0"> Male
              </label>
              <label class="radio-inline">
                <input id="radio2" type="radio" name="gender" value="1"> Female
              </label>
            <input type="name" class="form-control" placeholder="Type of Relationship" required name="relationship_type">
            </div> -->

        <input type="submit" class="btn btn-lg btn-primary" type="submit" value="submit">
      </form>
        </div>
      </div>

    </div>
   <script> dataFromDjango = {{ peopleData|safe }};
	    console.log(dataFromDjango);
   </script>

</body>
</html>
