{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>HomePage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>

      

      .kokos { fill: #2ca02c;  margin:80px; }

      .genoArea
      {
        margin-top: 100px;
      }

    </style>
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="Homepage.html">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <script type="text/javascript">

        //dummy data
        var dummyPeople = [ { id: "1" , firstName:"Sotiris" , dataSet:100, dataSety:50, lastName:"Ioannou" , gender:"male",  relationships : [{relationship_type:"brother" , related_to:4 }] },
                            { id: "2" , firstName:"Amit" , dataSet:200, dataSety:50, lastName:"Sinha" , gender:"male",  relationships : [{relationship_type:"brother" , related_to:4}] },
                            { id: "3" , firstName:"Maria" , dataSet:300,  dataSety:50, lastName:"Mpekatorou" , gender:"male",   relationships : [{relationship_type:"wife" , related_to:4 }] },
                            { id: "4" , firstName:"Beyonce" , dataSet:250, dataSety:300, lastName:"Knowles" , gender:"female",   relationships : [{relationship_type:"wife" , related_to:1 }] } ];

      	var width  = 960,
      	  	height = 500;

        //d3.select("body").append("p").text("New paragraph!");
        //prepare svg
        var svg = d3.select("body").append("svg")
        			.attr("width", width)
        			.attr("height", height);

        var circle = svg.selectAll(".circle");
        var rect = svg.selectAll(".rect");
        var link = svg.selectAll(".link");


        //get nodes
        var nodes = [] , links = [];

       	
       	
        circle.data(dummyPeople)
        .enter()
        .append(function(d){
         
          var el;
                 
          if (d.gender == 'male')
	  {
            el = document.createElementNS("http://www.w3.org/2000/svg", "rect");
            el.setAttribute('width', '50');
            el.setAttribute('height', '50');
            el.setAttribute('x', d.dataSet );
            el.setAttribute('y', '50');
              
	   
            d = { node:d , cords:{x: d.dataSet, y: el.getAttribute("y")}};
            // console.log(d.node.relationships);              
          }
          else if (d.gender == 'female')
	  {
            el = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            el.setAttribute('r', 30);
            el.setAttribute('cx', d.dataSet);
            el.setAttribute('cy', 300);
            el.style.fill = "yellow";
            
	    
            d = {node:d, cords:{x:d.dataSet, y: el.getAttribute("cy")}};
	    
          }
        
	   
	  
	    
	   
          for (var i=0; i < d.node.relationships.length; i++){
            	//alert(d.node.relationships[i].relationship_type);
            	var target_node;
            	for (var j=0; j< dummyPeople.length; j++){
		  if (d.node.relationships[i].related_to == dummyPeople[j].id)
		  {
		    
		    target_node = dummyPeople[j];
		    //PROBLEM HERE
           	    target_node = {node: dummyPeople[j] , cords: {x:target_node.dataSet, y:target_node.dataSety}};
           	    break;
           	  }
            	}
            	
            	
            	
            	//sNode = {node:d.cords , cords:{x:tempx , y:tempy}};
            	//console.log(target_node);
            	
            	links.push({source: d.cords , target: target_node.cords});
		
            	
            	
            }
		  
	  nodes.push(d);
          return el;
        });
	
	for (node in nodes)
	{
	 // alert(node);
	}
        
	//console.log(links);
      
        link.data(links)
           	.enter()
           	.append("line")
           	.attr("x1", function(link) { return link.source.x;})
           	.attr("y1", function(link) { return link.source.y;})
           	.attr("x2", function(link) { return link.target.x;})
           	.attr("y2", function(link) { return link.target.y;})
		.attr("class", "axis");
      
		
           
        
       

        //.on("mouseover", function(d){alert(console.log(d.firstName));})




      </script>
      
      <style>
	
	.axis{
	  stroke: rgb(6,120,155);
	  stroke-width:3 ;
	}
	
	
	
      </style>

      <div class="genoArea" id="genogramArea" width = "50%" height = "50%" >


      </div>


  </body>
</html>
